body
	{
	color: #000; 
	background-color: #fff;
        margin-left: 0px; 
        margin-bottom: 2em; 
        margin-right: 0px; 
        margin-top: 0px; 
        padding: 0px;
        font-family: tahoma, serif;
        font-weight: normal;
	}
b
	{font-weight: bold;}
a
	{color:#036; text-decoration:underline;}
a:link
	{color:#036; text-decoration:underline;}
a:visited
	{color:#603; text-decoration:underline;}
a:hover
	{color:#369; text-decoration:underline;}



span.menu
	{
	font-family: tahoma, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	}
a.menu
	{
	font-family: tahoma, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	color: #036;
	}
a.menu:link
	{
	color: #036;
	}
a.menu:visited
	{
	color: #036;
	}
a.menu:hover
	{
	color: #369;
	}

span.menu2
	{
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	}
a.menu2
	{
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: #036;
	}
a.menu2:link
	{
	color: #036;
	}
a.menu2:visited
	{
	color: #036;
	}
a.menu2:hover
	{
	color: #369;
	}

a.grad
	{
	font-family: tahoma, sans-serif;
	color: #7f99b2;
	}
a.grad:link
	{
	color: #7f99b2;
	}
a.grad:visited
	{
	color: #7f99b2;
	}
a.grad:hover
	{
	color: #99bbdd;
	}

	


h1
	{
	font-family: tahoma, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 1em;
	}
h3
	{
	font-family: tahoma, sans-serif;
	font-size: 0.9em;
	margin-bottom: 1em;
	}

.text
	{
	font-size: 0.8em;
	}	
.text-small
	{
	font-size: 0.7em;
	}	
li
	{
	padding-left: 0.5em; padding-top: 0;
	margin-bottom: 0.5em; margin-left: 0;
	}



ul.folders 
	{
	margin-top: 0em; margin-left: 1em;
	padding-left: 10px;
	font-family: tahoma, sans-serif; font-size: 0.8em; font-weight: normal; 
	list-style-image: url('../img/i_folder_close.gif');
	}

ul.folders li.open
	{
	margin-top: 0em; margin-left: 0em;
	padding-left: 5px;
	font-family: tahoma, sans-serif; font-weight: normal; 
	list-style-image: url('../img/i_folder_open.gif');
	}

ul.docs
	{
	margin-top: 0em; margin-left: 1em;
	padding-left: 10px;
	font-family: tahoma, sans-serif; font-size: 0.85em; font-weight: normal; 
	list-style-image: url('../img/i_doc.gif');
	}


.verytop
	{ background: #d3d8d4 }
.secondtop
	{ background: #e9f5f5; }
.second-padding
	{ padding-left: 25px; }

.gradusnik
	{ height: auto; background: url('../img/fon_topmenu_shadow.gif') top left repeat-x; font-family: tahoma, sans-serif; font-size: 0.7em; color: #7f7f7f; }
.gradusnik-padding
	{ padding-left: 25px; padding-right: 25px; padding-top: 5px; }


.topmenu_s
	{ background: url('../img/fon_topmenu1_s.gif') top left repeat-x; height: 30px; padding-left: 25px; padding-right: 25px; }
.topmenu
	{ border-bottom: 1px solid #c6cfc7; border-left: 1px solid #c6cfc7; background: url('../img/fon_topmenu1.gif') top left repeat-x; height: 30px; padding-left: 25px; padding-right: 25px; }
.topmenu_form
	{ border-bottom: 1px solid #c6cfc7; border-left: 1px solid #c6cfc7; background: url('../img/fon_topmenu1.gif') top left repeat-x; height: 30px; padding-left: 10px; padding-right: 10px; }
.topmenu_form_search
	{ width: 100%; border-bottom: 1px solid #c6cfc7; border-left: 1px solid #c6cfc7; background: url('../img/fon_topmenu1.gif') top left repeat-x; height: 30px; padding-left: 10px; padding-right: 10px; }

.form-select
	{ border: 1px solid #b3b9c3; height: 20px; background: #fff; font-size: 0.7em; font-family: tahoma, sans-serif; color: #000; }
.form-search
	{ float: left; width:50%; border: 1px solid #b3b9c3; height: 20px; background: #fff; font-size: 0.8em; font-family: tahoma, sans-serif; color: #000; }
.form-textarea
	{ border: 1px solid #b3b9c3; width:99%; height: 150px; background: #fff; font-size: 0.8em; font-family: tahoma, sans-serif; color: #000; }
.form-input-txt
	{ border: 1px solid #b3b9c3; width:99%; height: 20px; background: #fff; font-size: 0.8em; font-family: tahoma, sans-serif; color: #000; }
.form-input-txt-numb
	{ border: 1px solid #b3b9c3; width:50px; height: 20px; background: #fff; font-size: 0.8em; font-family: tahoma, sans-serif; color: #000; text-align: right; }

.columns { clear: both; width: 99%; }
.columns .left,
.columns .main,
.columns .main-content,
.columns .main-tip
	{ float: left; }
	
.columns .left { width: 25%; //margin-right: -100%; }
.columns .main { width: 75%; //margin-left: 25%; //display: inline;}

.columns .main-content { width: 66%; //margin-right: -100%; }
.columns .main-tip { width: 33%; //margin-left: 66%; //display: inline; }

.main-tip-padding
	{ padding-left: 25px; }
.tip
	{ padding: 7px; background-color: #ffd; }
.tip-close
	{ padding-left: 7px; height: 22px; background-color: #f4f4c8; padding-top: 2px; padding-bottom: 2px; font-size: 0.7em; }

.left-padding
	{ padding-left: 25px; padding-right: 25px; }
.explorer
	{ padding: 5px; background: #f4f9f9; border: 1px solid #dae1e1; }
.fieldset
	{ border: 1px solid #dae1e1; padding: 0 15px 0 15px; }
.legend
	{ font-family: tahoma, sans-serif; font-size: 0.8em; font-weight: bold; background: none; }
.cols_1
	{ background: #ecf6f6; }
.cols_2
	{ background: #f4fcfc; }
.col	
	{ height: 40px; font-family: tahoma, sans-serif; font-size: 0.8em; }
.col_1s
	{ height: 40px; font-family: tahoma, sans-serif; font-size: 0.8em; background: #e2eeee; }
.col_2s
	{ height: 40px; font-family: tahoma, sans-serif; font-size: 0.8em; background: #ebf2f2; }
.th
	{ background: #e2e7e7;
	border-bottom: 3px solid #4a4f4f;
	font-size: 80%; font-family: tahoma, tahoma, sans-serif;
	font-weight: bold; color: #000; height: 30px; }
.th_s
	{ background: #d9dede;
	border-bottom: 3px solid #4a4f4f;
	font-size: 80%; font-family: tahoma, tahoma, sans-serif;
	font-weight: bold; color: #000; height: 30px;  }

.text-field
	{ border: 1px solid #dae1e1; }
.text-field-padding
	{ padding: 0 15px 0 15px; }

.btn-exit
	{ 
	width: 75px; height: 20px; 
	border: 0px solid #000; border-top: 1px solid #fff; border-bottom: 1px solid #000; 
	text-align: center; font-size: 0.7em; font-family: tahoma, sans-serif;
	font-weight: normal; color: #000; background: url('../img/fon_btn_exit.gif') bottom left repeat-x;
	}
.btn-search
	{
	width: 75px; height: 20px; 
	border: 0px solid #000; border-top: 1px solid #fff; border-bottom: 1px solid #000; 
	text-align: center; font-size: 0.7em; font-family: tahoma, sans-serif;
	font-weight: normal; color: #000; background: url('../img/fon_btn_search.gif') bottom left repeat-x;
	}
.btn-save
	{
	width: 75px; height: 20px; 
	border: 0px solid #000; border-top: 1px solid #fff; border-bottom: 1px solid #000; 
	text-align: center; font-size: 0.7em; font-family: tahoma, sans-serif;
	font-weight: normal; color: #000; background: url('../img/fon_btn_save.gif') bottom left repeat-x;
	}
.btn-cancel
	{
	width: 75px; height: 20px; 
	border: 0px solid #000; border-top: 1px solid #fff; border-bottom: 1px solid #000; 
	text-align: center; font-size: 0.7em; font-family: tahoma, sans-serif;
	font-weight: normal; color: #000; background: url('../img/fon_btn_cancel.gif') bottom left repeat-x;
	}



