.columns {
	clear: both;
	width: 99%;
	font-size: 1.2em;
}

.columns .main-content {
	width: 66%;
	margin-right: -100%;
	font-size: 1.2em;
}

.columns .main-content table td {
	font-size: 1.2em;
}

.btn-exit {
	height: 25px;
}

.btn-search {
	height: 25px;
}

.form-search {
	font-size: 0.7em;
}

.columns .main-content table.operations td.th {	
	font-size: 0.8em;
}

.columns .main-content table.operations td.col_oper {
	background: #ecf6f6;
	font-family: tahoma, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.columns .main-content table.operations td.col_doc {
	background-color: lavender;
	font-family: tahoma, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.col_red {
	color: red;
}

.col_black {
	color: black;
}

.col_blue {
	color: blue;
}

input[readonly]{
	color:gray
}
