<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/Diff.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryConsumer.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Process.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/FPFile.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/Registry.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/RegistryProperties.hbm.xml" />

		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />

		<mapping resource="org/flexpay/bti/persistence/BuildingBase.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/BuildingAttribute.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/BuildingAttributeType.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/BuildingAttributeGroup.hbm.xml" />

	</session-factory>

</hibernate-configuration>
