<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/Diff.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryConsumer.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/TransportConfig.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryReceiver.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Process.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/file/FPFile.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ValueObject.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/Registry.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/RegistryImport.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/RegistryProperties.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Gender.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Currency.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/UserPreferencesSearch.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/report/ReportPrintHistoryRecord.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/UserRole.hbm.xml" />

		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/UserPreferences.hbm.xml" />

		<mapping resource="org/flexpay/bti/persistence/building/BuildingBase.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttribute.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttributeType.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttributeGroup.hbm.xml" />

        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentBase.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttribute.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttributeType.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttributeGroup.hbm.xml" />

	</session-factory>

</hibernate-configuration>
