<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE struts PUBLIC
		"-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
		"http://struts.apache.org/dtds/struts-2.0.dtd">
<struts>

	<!-- Root of Struts configs file, all dependent modules should have
	 	 similar file including all dependant module config includes -->
	<include file="struts/common/common_configs.xml" />

</struts>