<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="debug">

	<appender name="flexpay" class="org.apache.log4j.QpidCompositeRollingAppender">
		<!-- Ensure that logs always have the dateFormat set-->
		<param name="StaticLogFileName" value="false" />
		<param name="File" value="${java.io.tmpdir}/logs/flexpay_log_COMMON_INSTANCE_LOG_NAME" />
		<param name="Encoding" value="UTF-8" />
		<param name="Append" value="false" />
		<!-- Change the direction so newer files have bigger numbers -->
		<!-- So log.1 is written then log.2 etc This prevents a lot of file renames at log rollover -->
		<param name="CountDirection" value="1" />
		<!-- Use 500MB -->
		<param name="MaxFileSize" value="524288000" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<!-- Unlimited number of backups -->
		<param name="MaxSizeRollBackups" value="-1" />
		<!-- Compress(gzip) the backup files-->
		<param name="CompressBackupFiles" value="true" />
		<!-- Compress the backup files using a second thread -->
		<param name="CompressAsync" value="true" />
		<!-- Start at zero numbered files-->
		<param name="ZeroBased" value="true" />
		<!-- Backup Location -->
		<!--<param name="backupFilesToPath" value="${java.io.tmpdir}/logs/backup" />-->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="security" class="org.apache.log4j.QpidCompositeRollingAppender">
		<!-- Ensure that logs always have the dateFormat set-->
		<param name="StaticLogFileName" value="false" />
		<param name="File" value="${java.io.tmpdir}/logs/security_COMMON_INSTANCE_LOG_NAME" />
		<param name="Encoding" value="UTF-8" />
		<param name="Append" value="false" />
		<!-- Change the direction so newer files have bigger numbers -->
		<!-- So log.1 is written then log.2 etc This prevents a lot of file renames at log rollover -->
		<param name="CountDirection" value="1" />
		<!-- Use 500MB -->
		<param name="MaxFileSize" value="524288000" />
		<param name="DatePattern" value="'.'yyyy-MM" />
		<!-- Unlimited number of backups -->
		<param name="MaxSizeRollBackups" value="-1" />
		<!-- Compress(gzip) the backup files-->
		<param name="CompressBackupFiles" value="true" />
		<!-- Compress the backup files using a second thread -->
		<param name="CompressAsync" value="true" />
		<!-- Start at zero numbered files-->
		<param name="ZeroBased" value="true" />
		<!-- Backup Location -->
		<!--<param name="backupFilesToPath" value="${java.io.tmpdir}/logs/backup" />-->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="flexpay_hist" class="org.apache.log4j.QpidCompositeRollingAppender">
		<!-- Ensure that logs always have the dateFormat set-->
		<param name="StaticLogFileName" value="false" />
		<param name="File" value="${java.io.tmpdir}/logs/flexpay_log_history_COMMON_INSTANCE_LOG_NAME" />
		<param name="Encoding" value="UTF-8" />
		<param name="Append" value="false" />
		<!-- Change the direction so newer files have bigger numbers -->
		<!-- So log.1 is written then log.2 etc This prevents a lot of file renames at log rollover -->
		<param name="CountDirection" value="1" />
		<!-- Use 500MB -->
		<param name="MaxFileSize" value="524288000" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<!-- Unlimited number of backups -->
		<param name="MaxSizeRollBackups" value="-1" />
		<!-- Compress(gzip) the backup files-->
		<param name="CompressBackupFiles" value="true" />
		<!-- Compress the backup files using a second thread -->
		<param name="CompressAsync" value="true" />
		<!-- Start at zero numbered files-->
		<param name="ZeroBased" value="true" />
		<!-- Backup Location -->
		<!--<param name="backupFilesToPath" value="${java.io.tmpdir}/logs/backup" />-->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

    <category name="net.sourceforge.navigator" additivity="false">
        <priority value="info" />
        <appender-ref ref="flexpay" />
    </category>

	<category name="org.flexpay" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.persistence.history" additivity="false">
		<priority value="info" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.ab.service.history" additivity="false">
		<priority value="info" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.bti.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.orgs.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.payments.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.eirc.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.tc.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.rent.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.sz.service.history" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay_hist" />
	</category>

	<category name="org.flexpay.common.action.interceptor" additivity="false">
		<priority value="info" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.dao" additivity="false">
		<priority value="info" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.dao.impl.ldap" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>


	<category name="org.flexpay.common.dao.impl.LdapUserPreferencesDaoImpl" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.eirc.service.importexport" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.locking" additivity="false">
		<priority value="info" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.dao.registry.impl" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.payments.process.export.TradingDaySchedulingJob" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.springframework.ws" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="jdbc.sqlonly" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="jdbc.sqltiming" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="jdbc.audit" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="jdbc.resultset" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="jdbc.connection" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<!-- Disable "Narrowing proxy to class XXX - this operation breaks ==" warnings-->
	<category name="org.hibernate.engine.StatefulPersistenceContext" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

<!--
	<category name="org.hibernate.event.def.DefaultSaveOrUpdateEventListener" additivity="false">
		<priority value="trace" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.hibernate.impl.SessionImpl" additivity="false">
		<priority value="trace" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.hibernate.jdbc.ConnectionManager" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.hibernate.transaction.JDBCTransaction" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>
-->
	<category name="org.springframework.jms.listener.DefaultMessageListenerContainer" additivity="false">
		<priority value="error" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.process" additivity="false">
	    <priority value="debug"/>
	    <appender-ref ref="flexpay"/>
	</category>

	<category name="org.flexpay.payments.process.export.job" additivity="false">
	    <priority value="debug"/>
	    <appender-ref ref="flexpay"/>
	</category>

	<category name="org.flexpay.payments.action.registry" additivity="false">
	    <priority value="debug"/>
	    <appender-ref ref="flexpay"/>
	</category>

	<category name="org.flexpay.common.action.security" additivity="false">
		<priority value="debug" />
		<appender-ref ref="security" />
	</category>

	<category name="org.drools" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.common.process.handler" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.payments.process.export.handler2" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<category name="org.flexpay.eirc.process.registry.helper" additivity="false">
		<priority value="debug" />
		<appender-ref ref="flexpay" />
	</category>

	<root>
		<priority value="info" />
		<appender-ref ref="flexpay" />
	</root>

</log4j:configuration>
