<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <import resource="beans_dao.xml" />
	<import resource="beans-logic.xml" />
    <import resource="beans_services.xml" />
    <import resource="beans-cache.xml" />
	<import resource="beans-reports.xml" />
    <import resource="beans_struts.xml" />
    <import resource="data_export.xml" />

	<import resource="beans_self_testing.xml" />
	<import resource="stand-alone-tasks.xml" />
    <import resource="beans_jbpm.xml"/>

    <import resource="../menu.cfg.xml"/>

</beans>
