<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/Diff.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryConsumer.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Process.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/FPFile.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ValueObject.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/Registry.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/RegistryProperties.hbm.xml" />

		<mapping resource="org/flexpay/orgs/persistence/Bank.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/Organization.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/PaymentPoint.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/PaymentsCollector.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/ServiceProvider.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/ServiceOrganizationBase.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/ServiceOrganization.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/Subdivision.hbm.xml" />

	</session-factory>

</hibernate-configuration>
