<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		
		<!-- common.Sequences -->
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />

		<!-- Dual virtual table -->
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />

		<!-- common.ImportErrors -->
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />

		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />

        <mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/FPFile.hbm.xml" />

	</session-factory>

</hibernate-configuration>
