<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://localhost/speed_tst_eirc_new</property>-->
        <!--<property name="connection.isolation">8</property>-->
        <!--<property name="connection.username">flexpay_user</property>-->
        <!--<property name="connection.password">flexpay</property>-->
		<!--<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>-->

		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Process.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/file/FPFile.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/Diff.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryConsumer.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/TransportConfig.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryReceiver.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/ValueObject.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/registry/Registry.hbm.xml" />
		<!--<mapping resource="org/flexpay/common/persistence/registry/RegistryImport.hbm.xml" />-->
		<mapping resource="org/flexpay/common/persistence/Gender.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Currency.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/UserPreferencesSearch.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/report/ReportPrintHistoryRecord.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/Certificate.hbm.xml" />
		<mapping resource="org/flexpay/common/process/audit/persistence/Audit.hbm.xml" />

		<mapping resource="org/flexpay/common/persistence/UserRole.hbm.xml" />

		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />

        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentBase.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttribute.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttributeType.hbm.xml" />
        <mapping resource="org/flexpay/bti/persistence/apartment/ApartmentAttributeGroup.hbm.xml" />

		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttribute.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttributeType.hbm.xml" />
		<mapping resource="org/flexpay/bti/persistence/building/BuildingAttributeGroup.hbm.xml" />

		<mapping resource="org/flexpay/orgs/persistence/Cashbox.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/Bank.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/Organization.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/PaymentPoint.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/PaymentCollector.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/ServiceProvider.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/Subdivision.hbm.xml" />
		<mapping resource="org/flexpay/orgs/persistence/ServiceOrganization.hbm.xml" />

		<mapping resource="org/flexpay/payments/persistence/Document.hbm.xml" />
		<mapping resource="org/flexpay/payments/persistence/Service.hbm.xml" />
		<mapping resource="org/flexpay/payments/persistence/Operation.hbm.xml" />
		<mapping resource="org/flexpay/payments/persistence/UserPreferences.hbm.xml" />
		<mapping resource="org/flexpay/payments/service/statistics/Statistics.hbm.xml" />
        <mapping resource="org/flexpay/payments/persistence/RegistryDeliveryHistory.hbm.xml" />
		<mapping resource="org/flexpay/payments/persistence/config/MbServiceTypeMapping.hbm.xml" />

		<mapping resource="org/flexpay/eirc/persistence/BuildingBase.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/ServedBuilding.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/QuittancePacket.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/registry/RegistryImport.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/RegistryProperties.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/PersonalAccount.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/account/Quittance.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/consumer/ConsumerAttribute.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/consumer/ConsumerAttributeType.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/ServiceOrganizationBase.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/registry/RegistryExt.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/registry/ProcessRegistryVariableInstance.hbm.xml" />

	</session-factory>

</hibernate-configuration>
