<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
		   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- ConfigLoader is a subject to replace in dependent modules -->
	<bean id="tcConfigLoader" class="org.flexpay.tc.util.config.TCConfigLoader" init-method="loadConfig">
		<constructor-arg index="0">
			<list>
				<value>classpath:org/flexpay/common/application_config.xml</value>
				<value>classpath:org/flexpay/ab/application_config.xml</value>
				<value>classpath:org/flexpay/tc/application_config.xml</value>
				<value>classpath:org/flexpay/common/application_config_test.xml</value>
			</list>
		</constructor-arg>
		<property name="languageService" ref="languageService" />
	</bean>

	<import resource="common/configs/spring/config.xml" />
	<import resource="ab/configs/spring/config.xml" />
	<import resource="bti/configs/spring/config.xml" />
	<import resource="tc/configs/spring/config.xml" />

</beans>
