<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<!-- Countries -->
		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />

		<!-- Regions -->
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />

		<!-- Town districts -->
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />

		<!-- Town districts -->
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />

		<!-- Buildings -->
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/BuildingBase.hbm.xml" />

		<!-- Apartments -->
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />

		<!-- Street types -->
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />

		<!-- Identity types -->
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />

		<!-- Persons -->
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />

		<!-- common.Languages -->
		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		
		<!-- common.Sequences -->
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		
        <mapping resource="org/flexpay/common/persistence/FlexPayFile.hbm.xml" />

		<!-- common.ImportErrors -->
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />

		<!-- Dual virtual table -->
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />

		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />

		<!-- SZ File -->
		<mapping resource="org/flexpay/sz/persistence/SzFile.hbm.xml" />
		
		<!-- SZ CharacteristicRecord -->
		<mapping resource="org/flexpay/sz/persistence/CharacteristicRecord.hbm.xml" />
		
		<!-- SZ Oszn -->
		<mapping resource="org/flexpay/sz/persistence/Oszn.hbm.xml" />
		
		<!-- SZ File type -->
		<mapping resource="org/flexpay/sz/persistence/SzFileType.hbm.xml" />
		
		<!-- SZ File status -->
		<mapping resource="org/flexpay/sz/persistence/SzFileStatus.hbm.xml" />
		
		<!-- SZ File actuality status -->
		<mapping resource="org/flexpay/sz/persistence/SzFileActualityStatus.hbm.xml" />

        <!-- SZ  SubsidyRecord-->
        <mapping resource="org/flexpay/sz/persistence/SubsidyRecord.hbm.xml" />

		<!-- SZ corrections -->
		<mapping resource="org/flexpay/sz/persistence/corrections/Corrections.hbm.xml" />

		<mapping resource="org/flexpay/sz/persistence/ServiceTypeRecord.hbm.xml" />

		<mapping resource="org/flexpay/eirc/persistence/Organization.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Subdivision.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Bank.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Service.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/PersonalAccount.hbm.xml" />
		
		<mapping resource="org/flexpay/eirc/persistence/SpFile.hbm.xml" />
		
		<mapping resource="org/flexpay/eirc/persistence/Ticket.hbm.xml" />

		<!-- Eirc accounts -->
		<mapping resource="org/flexpay/eirc/persistence/account/Quittance.hbm.xml" />

	</session-factory>

</hibernate-configuration>
