<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<property name="transaction.factory_class">
			org.hibernate.transaction.JTATransactionFactory
		</property>
		<property name="hibernate.transaction.manager_lookup_class">
			org.hibernate.transaction.SunONETransactionManagerLookup
		</property>

		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="org.flexpay.common.persistence.Language" />
		<mapping class="org.flexpay.common.persistence.LangNameTranslation" />

	</session-factory>

</hibernate-configuration>
