<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
    <!--ab-->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>FlexPay AB Sync module COMMON_INSTANCE</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
        <param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>

	<!--
		- Location of the Log4J config file, for initialization and refresh checks.
		- Applied by Log4jConfigListener.
	-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/common/configs/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>definitions-config</param-name>
		<param-value>/WEB-INF/common/configs/tiles-common.xml,/WEB-INF/ab/configs/tiles-ab.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secure-resource</web-resource-name>
            <url-pattern>*.action</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>

    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/resources/ab_sync/jsp/index.jsp</form-login-page>
            <form-error-page>/resources/ab_sync/jsp/index.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <welcome-file-list>
		<welcome-file>/resources/ab_sync/jsp/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
