<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<!-- Countries -->
		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />

		<!-- Regions -->
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />

		<!-- Town districts -->
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />

		<!-- Town districts -->
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />

		<!-- Buildings -->
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/BuildingBase.hbm.xml" />

		<!-- Apartments -->
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />

		<!-- Street types -->
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />

		<!-- Identity types -->
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />

		<!-- Persons -->
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />

		<!-- common.Languages -->
		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		
		<!-- common.Sequences -->
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MasterIndex.hbm.xml" />

		<!-- common.ImportErrors -->
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />

        <!-- FPFiles, FPFileTypes, FPFileStatuses, FPModules -->
        <mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/FPFile.hbm.xml" />

		<!-- Dual virtual table -->
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />

		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />

		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />

		<mapping resource="org/flexpay/eirc/persistence/Organization.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/QuittancePacket.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Subdivision.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Bank.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/PaymentsCollector.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Service.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/SpFile.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/PersonalAccount.hbm.xml" />
		<mapping resource="org/flexpay/eirc/persistence/Ticket.hbm.xml" />

		<!-- Eirc accounts -->
		<mapping resource="org/flexpay/eirc/persistence/account/Quittance.hbm.xml" />


	</session-factory>

</hibernate-configuration>
