<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory name="flexpay">

		<!-- common.Languages -->
		<mapping resource="org/flexpay/common/persistence/Language.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/DataSourceDescription.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/Diff.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/history/HistoryConsumer.hbm.xml" />
		<!-- common.Sequences -->
		<mapping resource="org/flexpay/common/persistence/Sequence.hbm.xml" />
		<!-- common.ImportErrors -->
		<mapping resource="org/flexpay/common/persistence/ImportError.hbm.xml" />
		<!-- Dual virtual table -->
		<mapping resource="org/flexpay/common/persistence/Dual.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/MeasureUnit.hbm.xml" />
        <mapping resource="org/flexpay/common/persistence/FPModule.hbm.xml" />
		<mapping resource="org/flexpay/common/persistence/FPFile.hbm.xml" />

		<!-- Countries -->
		<mapping resource="org/flexpay/ab/persistence/Country.hbm.xml" />

		<!-- Regions -->
		<mapping resource="org/flexpay/ab/persistence/Region.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/TownType.hbm.xml" />

		<!-- Town types -->
		<mapping resource="org/flexpay/ab/persistence/Town.hbm.xml" />

		<!-- Town districts -->
		<mapping resource="org/flexpay/ab/persistence/District.hbm.xml" />

		<!-- Town streets -->
		<mapping resource="org/flexpay/ab/persistence/Street.hbm.xml" />

		<!-- Buildings -->
		<mapping resource="org/flexpay/ab/persistence/Building.hbm.xml" />
		<mapping resource="org/flexpay/ab/persistence/BuildingBase.hbm.xml" />

		<!-- Apartments -->
		<mapping resource="org/flexpay/ab/persistence/Apartment.hbm.xml" />

		<!-- Street types -->
		<mapping resource="org/flexpay/ab/persistence/StreetType.hbm.xml" />

		<!-- Identity types -->
		<mapping resource="org/flexpay/ab/persistence/IdentityType.hbm.xml" />

		<!-- Persons -->
		<mapping resource="org/flexpay/ab/persistence/Person.hbm.xml" />

	</session-factory>

</hibernate-configuration>
