body {
	color: #000;
	background-color: #fff;
	margin: 0 0 2em 0;
	padding: 0;
	font-family: tahoma, serif;
	font-weight: normal;
}

b {
    font-weight: bold;
}

a {
    color:#036;
    text-decoration:underline;
}
a:link {
    color:#036;
    text-decoration:underline;
}
a:visited {
    color:#036;
    text-decoration:underline;
}
a:hover {
    color:#369;
    text-decoration:underline;
}

img {
	border: 0;
}

span.menu {
	font-family: tahoma, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
}

a.menu {
	font-family: tahoma, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	color: #036;
}

a.menu:link {
	color: #036;
}
a.menu:visited {
	color: #036;
}
a.menu:hover {
	color: #369;
}

span.menu2 {
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
}
a.menu2 {
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: #036;
}
a.menu2:link {
	color: #036;
}
a.menu2:visited {
	color:#036;
}
a.menu2:hover {
	color:#369;
}

a.crumb {
	font-family:tahoma, sans-serif;
	color:#7f99b2;
}
a.crumb:link {
	color:#7f99b2;
}
a.crumb:visited {
	color:#7f99b2;
}
a.crumb:hover {
	color:#99bbdd;
}

h1 {
	font-family:tahoma, sans-serif;
	font-size:1.5em;
	font-weight:normal;
	margin-bottom:1em;
}
h2 {
	font-family: tahoma, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 1em;
}
h3 {
	font-family: tahoma, sans-serif;
	font-size: 0.9em;
	margin-bottom: 1em;
}

.filter {
    font-size:0.8em;
    text-align:right;
}

.text {
    font-size: 0.8em;
}

.text-small {
	font-size: 0.7em;
}

li {
	padding-left: 0.5em;
    padding-top: 0;
	margin-bottom: 0.5em;
    margin-left: 0;
}

ul.folders {
	margin-top: 0;
    margin-left: 1em;
	padding-left: 10px;
	font-family: tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
	list-style-image: url('../img/i_folder_close.gif');
}

ul.folders li.open {
	margin-top: 0;
    margin-left: 0;
	padding-left: 5px;
	font-family: tahoma, sans-serif;
    font-weight: normal;
	list-style-image: url('../img/i_folder_open.gif');
}

ul.docs {
	margin-top: 0;
    margin-left: 1em;
	padding-left: 10px;
	font-family: tahoma, sans-serif;
    font-size: 0.85em;
    font-weight: normal;
	list-style-image: url('../img/i_doc.gif');
}

.verytop {
    background: #d3d8d4;
}
.secondtop {
    background: #e9f5f5;
}
.second-padding {
    padding-left: 25px;
}

.crumbs {
    height: auto;
    background: url('../img/fon_topmenu_shadow.gif') top left repeat-x;
    font-family: tahoma, sans-serif;
    font-size: 0.7em;
    color: #7f7f7f;
}
.crumbs-padding {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}

.topmenu_s {
    background: url('../img/fon_topmenu1_s.gif') top left repeat-x;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.topmenu {
    border-bottom: 1px solid #c6cfc7;
    border-left: 1px solid #c6cfc7;
    background: url('../img/fon_topmenu1.gif') top left repeat-x;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.topmenu_form {
    border-bottom: 1px solid #c6cfc7;
    border-left: 1px solid #c6cfc7;
    background: url('../img/fon_topmenu1.gif') top left repeat-x;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.topmenu_form_search {
    width: 100%;
    border-bottom: 1px solid #c6cfc7;
    border-left: 1px solid #c6cfc7;
    background: url('../img/fon_topmenu1.gif') top left repeat-x;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-select {
    border: 1px solid #b3b9c3;
    height: 20px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}
.vertical-top {
    vertical-align:top;
}
.form-select-100p {
    border: 1px solid #b3b9c3;
    width:99%;
    height: 20px;
    background: #fff;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
    color: #000;
}
.form-search {
    float: left;
    border: 1px solid #b3b9c3;
    height: 20px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}

.form-search2 {
    border: 1px solid #b3b9c3;
    height: 20px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}

.form-textarea {
    border: 1px solid #b3b9c3;
    width:99%;
    height: 150px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}
.form-textarea-no-size {
    border: 1px solid #b3b9c3;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}
.form-input-txt {
    border: 1px solid #b3b9c3;
    width:99%;
    height: 20px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
}
.form-input-txt-numb {
    border: 1px solid #b3b9c3;
    width:50px;
    height: 20px;
    background: #fff;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #000;
    text-align: right;
}
.form-input-txt-green {
    border: 1px solid #aca;
    width:99%;
    height: 20px;
    background: #efe;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #060;
}
.form-input-txt-red {
    border: 1px solid #caa;
    width:99%;
    height: 20px;
    background: #fee;
    font-size: 0.8em;
    font-family: tahoma, sans-serif;
    color: #c00;
    padding: 0 5px 0 5px;
}

.columns {
    clear: both;
    width: 99%;
}
.columns .left, .columns .main, .columns .main-content, .columns .main-tip {
    float: left;
}

.columns .left {
    width: 25%;
    margin-right: -100%;
}
.columns .main {
    width: 75%;
    margin-left: 25%;
    display: inline;
}

.columns .main-content {
    width: 66%;
    margin-right: 0;
}

.columns .main-tip {
    width: 33%;
    margin-left: 66%;
    display: inline;
}

.main-tip-padding {
    padding-left: 25px;
}

.tip {
    padding: 7px;
    background-color: #ffd;
}

.tip-close {
    padding-left: 7px;
    height: 22px;
    background-color: #f4f4c8;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.7em;
}

.left-padding {
    padding-left: 25px;
    padding-right: 25px;
}
.explorer {
    padding: 5px;
    background: #f4f9f9;
    border: 1px solid #dae1e1;
}
.fieldset {
    border: 1px solid #dae1e1;
    padding: 0 15px 0 15px;
}
.legend {
    font-family: tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background: none;
}

.cols_1 {
    background: #ecf6f6;
}

.cols_1_green {
    background: #90ee90;
}

.cols_1_red {
    background: #ff4500;
}

.cols_1_yellow {
    background: yellow;
}

.cols_1_gray {
	background: #999999;
}

.cols_1_highlighted {
    background: #ccccff;
}

.cols_1_error {
    background: #ffcccc;
}

.cols_2 {
    background: #f4fcfc;
}

.col {
    font-family: tahoma, sans-serif;
    font-size: 0.8em;
}

.col_1s {
    font-family: tahoma, sans-serif;
    font-size: 0.8em;
    background: #e2eeee;
}

.col_2s {
    font-family: tahoma, sans-serif;
    font-size: 0.8em;
    background: #ebf2f2;
}

.th {
    background: #e2e7e7;
	border-bottom: 3px solid #4a4f4f;
	font-size: 80%;
    font-family: tahoma, sans-serif;
	font-weight: bold;
    color: #000;
}

.th_s {
    background: #d9dede;
	border-bottom: 3px solid #4a4f4f;
	font-size: 80%;
    font-family: tahoma, sans-serif;
	font-weight: bold; color: #000;
}

.text-field {
    border: 1px solid #dae1e1;
}

.text-field-padding {
    padding: 0 15px 0 15px;
}

.btn-exit {
	height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_exit.gif') bottom left repeat-x;
}

.btn-search {
    height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_search.gif') bottom left repeat-x;
}

.btn-save {
	width: 75px;
    height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_save.gif') bottom left repeat-x;
}

.btn-cancel{
	width: 75px;
    height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_cancel.gif') bottom left repeat-x;
}

.btn-save {
	width: 75px;
    height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_save.gif') bottom left repeat-x;
}

.btn-cancel {
	width: 75px;
    height: 20px;
	border: 0 solid #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
	text-align: center;
    font-size: 0.7em;
    font-family: tahoma, sans-serif;
	font-weight: normal;
    color: #000;
    background: url('../img/fon_btn_cancel.gif') bottom left repeat-x;
}

.btn-link {
	color: #666666;
	text-decoration: underline;
	border-style: none;
	background-color: transparent;
	padding: 0;
	margin: -1 0 -1px 0 !important;
	margin: 0 2px -2px 2px;
	cursor: pointer;
}

input[readonly] {
	background-color: #eeeeee;
}

.shadow {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    opacity: 0.4;
    visibility:hidden;
    position:absolute;
    text-align:center;
    vertical-align:middle;
    z-index:99;
    color: #666666;
    font-weight:bold;
    font-size:16px;
}

.error {
    color:red;
    font-weight:bold;
    font-size:14px;
}

.message {
    font-weight:bold;
    font-size:14px;
}

.group {
    cursor: pointer;
}

.panelGroup {
	border: 1px solid #B9E3FF;
	padding: 17px 10px;
}

.type {
    cursor: pointer;
}

.panelType {
	border: 1px solid #B9E3FF;
	padding: 17px 10px;
}
